body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}


.chat-row {
    margin: 50px;
}
.chat-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .chat-li {
        padding: 8px;
        background-color: #928787;
        margin-bottom: 20px;
    }
        .chat-li:nth-child(2n-2) {
            background-color: #c3c5c5;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            padding: 8px 10px;
        }
.chat-input {
    border: 1px solid lightgray;
}

.aukcionaz__main-color {
    background-color: #009512;
}

.all__category_image_li-styles {
    display: table;
    margin-right: 23px;
    width: 60px;
}
    .all__category_image-div-styles {
        padding: 19px;
        border-radius: 80px;
        background-color: #f5f5f5;
        margin-bottom: 5px;
    }
        .all__category_image-styles {
            width: 40px;
            height: 40px;
        }
        .border__bottom_opacity-10 {
            border-bottom: 0.5px solid #f1f1f1;
        }

    .vertical__all_catalog_img_div {

    }
        .vertical__all_catalog_img {
            width: 50px;
            padding: 6px;
            border-radius: 50px;
            background-color: #efefef;
        }
        .vertical__all_catalog_li {
            border: none;
            padding: 0;
            border-bottom: 0.1px solid #f1eeee;
        }
            .vertical__all_catalog_title {
                margin: 15px 0 0 0;
            }
        .all__catalog_z_index {
            z-index: 1;
        } 
            .modal-backdrop.show {
                opacity: 0;
            }
            .modal-backdrop {
                z-index: 1;
            }
        /*  MODAL RIGHT STYLES  START*/
        .modal.fade.modal-right .modal-dialog {
            transform: translate(125%, 0px);
          }
          
          .modal.show.modal-right .modal-dialog {
            transform: none;
          }
          .modal-header {
            align-items: normal;
          }
        /*  MODAL RIGHT STYLES END*/
    .all_catalog_category_items_style {
        border: none;
        border-bottom: 1px solid #76767614;
        border-radius: unset;
    }

.category__child_image_li-styles {
    display: table;
    margin-right: 23px;
    width: 60px;
    padding: 2px;
}
    .category__child_image_a {
        color: #212c3a;
        text-decoration: none;
    }
        .category__child_image-div-styles {
            padding: 12px;
            border-radius: 50px;
            background-color: #f5f5f5;
            margin-bottom: 5px;
        }
            
            .category__child_image-styles {
                width: 55px;
                height: 55px;
            }
            .border__bottom_opacity-10 {
                border-bottom: 0.5px solid #f1f1f1;
            }

.vip__announces_bg {
    background-color: #f1f3f49e;
}

.scroll__hide::-webkit-scrollbar {
    display: none;
}

.scroll__hide {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}

.form-control:focus
{
  border-color: #ccc;  
  box-shadow:  #ccc;
  border: 1px solid #ccc;
  outline:none;
}

input:focus
{
  border-color: #ccc;  
  box-shadow:  #ccc;
  border: 1px solid #ccc;
  outline:none;
}

.footer__styles {
    background-color: #f6f7fa;
    border-top: 0.1px solid #dee0e5;
}
    .footer__icon_style {
        margin: 0.5rem !important;
        padding: 0.6rem !important;
        border-radius: 33px;
        background-color: #ddebeb;
    }
        .insta__bg {
            color: rgb(220 2 47 / 65%);
        }

.product__card_div {
   
}
        .product__card {
           
        }
        .product__card:hover {
            box-shadow: 1px 1px 4px 2px #1c1b1b17;
        }
            .product__a_link {
                display: block;
                text-decoration: none;
            }
                .product__image_div {
                    /* height: auto; */
                    position: relative;
                    z-index: 1;
                    /* margin-bottom: 10px; */
                    overflow: hidden;
                    height: 220px;
                }
                    .product__image_style {
                        
                    }
                .card__body_style {
                    padding: 10px 0 0 0;
                }
                    .product__price {
                        margin: 0 10px;
                        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
                        color: #212c3a;
                        font-size: 18px;
                        font-weight: bold;
                    }
                    .product__name {
                        margin: 0;
                        padding: 0;
                        display: block;
                        display: -webkit-box;
                        max-height: 38.4px;
                        font-size: 16px;
                        line-height: 1.2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        -webkit-line-clamp: 2;
                        box-sizing: border-box;
                        overflow: hidden;
                        padding: 0 10px;
                        color: #212c3a;
                    }
                    .product__created {
                        overflow: hidden;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        left: 0;
                        right: 0;
                        bottom: 10px;
                        padding: 2px 40px 0 10px;
                        color: #bcbcbc;
                    }
                .card__footer_style {
                    background-color: white;
                    border-top: none;
                    line-height: 10px;
                    padding: 5px 0px 12px 11px;
                }

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    #navbar {
        border-bottom: 0.1px solid hsl(127deg 100% 29% / 16%);
    }

    .maon__category_div {

    }

    .new__announce_btn_a {
        display: flex;
        text-decoration: none;
    } 
        .new__announce_btn_div {
            display: flex;
            background-color: #009512;
            width: 185px;
            height: 50px;
            margin-top: 146px;
            right: 108px;
            padding: 7px 28px 7px 25px;
            position: absolute;
        }
            .new__announce_btn_icon_div {
                margin: 6px 8px 0 0;
            }
            .new__announce_btn_text {
                color: #fff;
                font-size: 19px;
                font-weight: 500;
                text-transform: uppercase;
                margin-top: 4px
            }
.main__search_div {
    width: 300px;
}  
    .main__search_input {

    }
}