.chat-row {
    margin: 50px;
}
.chat-ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
    .chat-li {
        padding: 8px;
        background-color: #928787;
        margin-bottom: 20px;
    }
        .chat-li:nth-child(2n-2) {
            background-color: #c3c5c5;
            border-top-right-radius: 10px;
            border-top-left-radius: 10px;
            padding: 8px 10px;
        }
.chat-input {
    border: 1px solid lightgray;
}

.announce__btn-color {
    background-color: #009512;
}

.category__image_li-styles {
    display: table;
    margin-right: 23px;
    width: 60px;
}
    .category__image-div-styles {
        padding: 19px;
        border-radius: 30px;
        background-color: #f5f5f5;
        margin-bottom: 5px;
    }
        .category__image-styles {
            width: 27px;
            height: 27px;
        }
        .border__bottom_opacity-10 {
            border-bottom: 0.5px solid #f1f1f1;
        }

.vip__announces_bg {
    background-color: #f1f3f49e;
}

.scroll__hide::-webkit-scrollbar {
    display: none;
}

.scroll__hide {
    -ms-overflow-style: none;  /* IE и Edge */
    scrollbar-width: none;  /* Firefox */
}

.form-control:focus
{
  border-color: #ccc;  
  box-shadow:  #ccc;
  border: 1px solid #ccc;
  outline:none;
}

input:focus
{
  border-color: #ccc;  
  box-shadow:  #ccc;
  border: 1px solid #ccc;
  outline:none;
}

.footer__styles {
    height: 70px;
    background-color: #f6f7fa;
    margin-top: 40px;
    padding: 15px;
    border-top: 0.1px solid #dee0e5;
}
    .footer__icon_style {
        margin: 0.5rem !important;
        padding: 0.8rem !important;
        border-radius: 33px;
        background-color: #ddebeb;
    }
        .insta__bg {
            color: rgb(220 2 47 / 65%);
        }


